name: Run Python Script

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python Requirements
        run: pip install requests

      - name: Run Python script
        run: python .github/workflows/Request.py

      - name: Upload output file (Artifact v4)
        uses: actions/upload-artifact@v4
        with:
          name: modified-output
          path: output.html
